<p><h3>Estadísticas</h3></p>
<p>
Nº de quizes: <%= stats.quizes %><br>

Nº de quizes comentadas: <%= stats.commented %><br>
Nº de quizes sin comentar: <%= stats.nonCommented %><br>

Nº de comentarios: <%= stats.comments %> (<%= stats.published %> publicados, <%= stats.waiting %> en espera)<br>
Ratio de comentarios: <%= stats.average %>%<br> 
</p>
