<label for="preg" class="rem">Pregunta:</label>
<input type="text" id="preg" name="quiz[pregunta]" placeholder="<%= quiz.pregunta %>" value="<%= quiz.pregunta %>"><br>
<label for="resp" class="rem">Respuesta:</label>
<input type="text" id="resp" name="quiz[respuesta]" placeholder="<%= quiz.respuesta %>" value="<%= quiz.respuesta %>"><br>
<label for="tema" class="rem">Tema:</label>
 <select name="quiz[tema]" id="tema">
  <option value="Ocio" <% if(quiz.tema == 'Ocio'){ %>selected="selected"<% } %>>Ocio <%= quiz.tema %></option>
  <option value="Ciencia" <% if(quiz.tema == 'Ciencia'){ %>selected="selected"<% } %>>Ciencia</option>
  <option value="Tecnología" <% if(quiz.tema == 'Tecnología'){ %>selected="selected"<% } %>>Tecnología</option>
  <option value="Humanidades" <% if(quiz.tema == 'Humanidades'){ %>selected="selected"<% } %>>Humanidades</option>
  <option value="Otro" <% if(quiz.tema == 'Otro'){ %>selected="selected"<% } %>>Otro</option>
</select><br>
<a href="/quizes"><button>Volver</button></a> 
<input type="submit" value="Salvar">
